@using MvcCvSon.Models.entity
@model List<TBLSOSYALMEDYA> 
<div class="social-icons">
    @foreach(var item in Model)
    { 
    <a class="social-icon" href="#"><i class="@item.IKON"></i></a>
   }
</div>