@using MvcCvSon.Models.entity
@model List<TBL_YETENEKLER>

<div class="resume-section-content">
    <h2 class="mb-5">Yeteneklerim</h2>
    
    
    
    <ul class="fa-ul mb-0">
        @foreach (var x in Model)
        {
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            @x.YETENEK
        </li>
        }

    </ul>
</div>
