@model MvcCvSon.Models.entity.TBL_SERTIFIKA
@{
    ViewBag.Title = "yenisertifika";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h4>Yeni Sertifika Ekleme Sayfası</h4>
<br />
<form method="post">

    @Html.Label("Sertifika Açıklaması")
    @Html.TextBoxFor(x => x.ACIKLAMA, new { @class = "form-control" })
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.TARIH, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">Kaydet</button>

</form>





