@using MvcCvSon.Models.entity
@model List<TBLSOSYALMEDYA>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">sosyal Medya Hesap Listem</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <button class="btn btn-info" data-toggle="modal" data-target="#modal1">Sosyal Medya Hesabı Ekle</button>
                                <br />
                                <br />

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Sosyal Medya</th>
                                            <th>Durum</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                          
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.AD</td>
                                                <td>@item.DURUM</td>

                                                
                                               

                                                <td>
                                                    <a class="btn btn-info btn-sm" href="/sosyalmedya/sayfagetir/@item.ID">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Düzenle
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger btn-sm" href="/sosyalmedya/sil/@item.ID">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Sil
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- /.row -->
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>

        <!-- /.content -->

        <div class="modal" id="modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">sosyal medya ekleme paneli</h2>
                    </div>
                    <form method="post" action="/sosyalmedya/ekle">
                        <div class="modal-body">
                            <label>Sosyal Medya İsmi</label>
                            <input type="text" name="AD" class="form-control" />
                            <br />
                            <label>Sosyal Medya Linki</label>
                            <input type="text" name="LINK" class="form-control" />
                            <br />
                            <label>Sosyal Medya İkonu</label>
                            <input type="text" name="IKON" class="form-control" />
                            <br />
                            <button class="btn btn-info">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- /.control-sidebar -->
</body>
</html>




