
@{
    ViewBag.Title = "adminekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h4>Yeni Kullanıcu Ekleme Sayfası</h4>
<br />
<form method="post">

    <input type="text" name="KULLANICIADI" class="form-control" placeholder="KULLANICI ADI" />
    <br />
    <input type="text" name="SIFRE" class="form-control" placeholder="SİFRENİZ" />
    
    <button class="btn btn-info">Kaydet</button>

</form>


