@using MvcCvSon.Models.entity
@model List<TBL_ADMIN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h2>Admin İşlemleri</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kullanıcı Adı</th>
        <th>Düzenle</th>
        <th>Kaldır</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.KULLANICIADI</td>
            <td><a href="/admin/admindüzenle/@x.ID" class="btn btn-warning">Düzenle</a></td>
            <td><a href="/admin/adminsil/@x.ID" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>

<a href="/admin/adminekle/" class="btn btn-primary">Yeni Kullanıcı Ekle</a>


